.wrapper {
  position: relative;
  width: 100%;
  height: 311px;
  border: 2px dashed var(--color-slate-300);
  border-radius: 24px;
  background-color: var(--color-slate-100);
  overflow: hidden;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder img {
  width: 64px;
  height: 64px;
}

.uploadButton {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.fileInput {
  display: none;
}
