.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 16px;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

/* tablet/mobile */
@media (max-width: 1199px) {
  .sections {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 743px) {
  .empty img {
    width: 120px;
  }
}
