.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 16px;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: inline-block;
  padding: 4px 32px;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 700;
  width: fit-content;
}

.todoLabel {
  background-color: var(--color-lime-300);
  color: var(--color-amber-800);
}

.doneLabel {
  background-color: var(--color-slate-900);
  color: var(--color-lime-300);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* tablet/mobile */
@media (max-width: 1199px) {
  .sections {
    grid-template-columns: 1fr;
  }
}
